- content_for(:title, t('.title'))
h1 Editing user

== render 'form'

= link_to 'ユーザーページ', user_path((@user.screen_name))
'|
= link_to 'プロフィール', profile_path
br
= link_to '退会', profile_path, method: :delete
