<% if current_page?(tab_path) %>
  <li class='py-2 px-6 rounded-t-lg -mb-px border-t border-r border-l bg-coolGray-50'>
    <%= tab_name %>
  </li>
<% else %>
  <%= link_to tab_path, class: 'no-underline' do %>
    <li class='py-2 px-6 rounded-t-lg bg-gray-200'>
      <%= tab_name %>
    </li>
  <% end %>
<% end %>
