<footer class="flex items-center justify-between flex-wrap bg-indigo-100 px-4 h-10">
  <div class='ml-auto'>
    <li class="flex float-right items-center text-sm text-indigo-800 gap-4">
      <ul>
        <%= link_to 'お問い合わせ', new_inquiry_path, class: 'no-underline' %>
      </ul>
      <ul>
        <%= link_to '利用規約', terms_path, class: 'no-underline' %>
      </ul>
      <ul>
        <%= link_to 'プライバシーポリシー', root_path, class: 'no-underline' %>
      </ul>
    </li>
  </div>
</footer>
