<div class="hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none bg-black bg-opacity-30" id="<%= image.id %>" onclick="toggleModal('<%= image.id %>')">
  <div class="relative">
    <%= image_tag image.product_image, alt: image.product.title, class: 'object-contain w-screen h-screen' %>
  </div>
</div>
